svg{
    background-color:white;
    padding:15px 15px 15px 15px;}

rect{
    fill: #3a5f83;
    stroke: black;
}

body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1em 3em;
  }
  
  .label {
    fill: white;
  }
  
  .axis {
    font-size: 16px;
  }